{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
            {{ if .Date }}
			<b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></b>
            {{ end }}
            {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
            {{ end }}

			<div class="post">
				{{ .Content }}
			</div>
            {{ if .Params.ShowModifiedDate }}
                <hr>
                <sub><b>Last Updated:</b> <time>{{ .Lastmod | time.Format "2006-01-02"  }}</time></sub>
            {{ end }}
		</article>
	</main>
{{ end }}
